.button
  padding: 11px 21px
  border: none
  border-radius: 2px
  font-family: 'Futura Demi';
  font-size: 0.93rem
  text-transform: uppercase
  &:hover
    background-color: #c39f65
    cursor: pointer
  &--identation
    margin-right: -1px
  &--primary
    background-color: $primary
    color: $lite
    box-shadow: 0px 5px 15px rgba($primary, 0.2)
    transition: box-shadow 0.3s
    &:hover
      box-shadow: none
  &--outline
    border: 1px solid $lite
    background-color: transparent
    color: $lite
  &--more
    padding: 18px 25px
  &--size
    padding: 18px 42px