@media screen and ( max-height:520px )
  .hero
    &__scroll-down
      display: none
@media screen and ( max-width:1270px )
  html
    font-size: 12px
  .nav
    &__item
      margin-left: 1rem
      margin-right: 1rem
  .title
    max-width: 500px
  .hero
    &__text
      max-width: 450px
  .upbtn
    right: 30px
    bottom: 30px
    padding: 15px
@media screen and ( max-width:1070px )
  .nav
    display: none 
  .hero
    &__instagram
      display: none
  .section
    &-title
      &__text
        font-size: 16px
        max-width: 380px
  .projects
    background: $dark
  .upbtn
    right: 20px
    bottom: 20px
    padding: 15px
.col
  &-20
    flex: 1 1 calc(50% - 30px)
    max-width: calc(50% - 30px)
    padding: 0 15px
@media screen and ( max-width:992px )
  .section
    &-title
      &__text
        width: 100%
        max-width: 442px
        font-size: 18px
      &__word
        display: block
        font-size: 22px
        line-height: 138.6%
      &__heading
        &--primary
          font-size: 22px
          line-height: 138.6%
  .hero
    &__content
      margin: 0
  .row
    display: flex
    flex-wrap: wrap
    flex-direction: row
    align-items: top
  .col
    &-30
      flex: 1 1 calc(50% - 30px)
      max-width: calc(50% - 30px)
      padding: 0 15px
  .design
    &__card
      align-items: top 
  .swiper
    &-slider
      &--image
        margin-top: 0
  .mobile
    &-order
      &__top
        order: -1
  .col
    &-50
      width: 100%
@media screen and ( max-width:760px )
  .row
    flex-direction: column
    align-items: center
  .col
    &-30
      flex: 1 1 calc(100% - 30px)
      max-width: calc(100% - 30px)
      padding: 0 15px
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
  .design
    background-color: $dark
    &__section-title
      color: $lite
  .design
    &__card
      margin-bottom: 5.7rem
  .control
    position: relative
    background-color: $dark
    color: $lite
    &__button
      position: adsolute
      bottom: 0
      margin-bottom: -7rem
    &-section
      &-title
        font-size: 22px
        line-height: 138.6%
    &__text
      max-width: 350px
      font-size: 14px
      line-height: 169.8%
    &__form
      display: flex
      flex-wrap: wrap 
      flex-direction: column
      width: 100%
    &__input
      &-bottom
        margin-bottom: 63px
    &__policy
      margin-top: 28px
      margin-bottom: 63px
  .mobile
    &-order
      &__bottom
        order: 1
@media screen and ( max-width:570px )
  .container
    width: 100%
    max-width: 330px
  .menu
    padding: 0.8rem
  .section
    &__title
      &__description
        max-width: 21.86rem
  .contacts
    &__phone
      margin-right: 0px
      color: $lite
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 23px
    max-width: 300px
  .hero
    &__content
      padding: 0.8rem
    &__scroll-down
      display: none
    &__text
      font-size: 18px
      margin-bottom: 2.28rem
    &__button
      display: block
      width: 100%
      margin-bottom: 1.85rem
  .projects
    padding-left: 0.8rem
    padding-right: 0.8rem
  .control
    position: relative
    &__button
      position: adsolute
      bottom: 0
      margin-bottom: -7rem
  .team
    background-color: $dark
    &__section-title
      color: $lite
    &-card
      position: relative
      &__text
        margin: -6rem auto
        margin-bottom: 54px
    &__control
      &--text
        display: none
  .footer
    background: $dark
    &__title
      font-size: 20px
    &__wrap
      width: 100%
      padding: 0px 7px 0px 7px
      background: $dark
    &__form
      display: flex
      flex-wrap: wrap 
      flex-direction: column
      width: 100%
    &__map
      display: flex
      flex-wrap: wrap
      flex-direction: row
      &--heading
        font-size: 18px
        line-height: 138.6%
        margin-top: 41px
        margin-bottom: 23px
      &--wrap
        order: -1
    &__menu
      display: none
  .map
    margin-bottom: 0
    &-title
      &__image
        margin-bottom: 0
  .upbtn
    right: 30px
    bottom: 20px
    padding: 15px
  .footer
    &__map
      &--wrap
        width: 100%
        max-width: 340px
        min-height: 255px
@media screen and ( max-width:375px )
  .container
    width: 100%
    max-width: 330px
  .hero
    &__title
      font-size: 23px
    &__text
      font-size: 18px
  .section
    &-title
      &--left
        text-align: center
      &__heading
        font-size: 22px
        &-primary
          font-size: 22px
          letter-spacing: -0.07em
          line-height: 138.6%
      &__description
        max-width: 306px
        font-size: 15px
      &__text
        max-width: 300px
        margin: 0 auto
        margin-bottom: 36px
        font-size: 14px
        line-height: 158.48%
  .card
    margin: 0px 0px 59px 0px
    &__image
      width: 100%
    &__title
      font-size: 15px
    &__text
      max-width: 260px
      box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05)
    &__list
      font-size: 13px
    &__pricetag
      padding: 11px 19px
      font-size: 15px
      box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3)
  .policy
    &__label
      &--text
        font-size: 14px
        font-weight: 400
  .control
    position: relative
    padding: 0.8rem
    padding-top: 50px
    &__video
      width: 100%
      max-width: 340px
      min-height: 207px
      background-size: contain
      margin-bottom: 27px
    &__button
      position: adsolute
      bottom: 0
      margin-bottom: -2.5rem
      padding: 20px 110px
  .video
    &__play
      position: relative
      margin: auto
      width: 37px
      height: 37px
  .swiper
    &-slide
      &__images
        width: 100%
        max-width: 340px
        min-height: 201px
      &__heading
        font-size: 14px
      &__value
        font-size: 14px
  .footer
    &__map
      &--wrap
        width: 100%
        max-width: 280px
        height: 230px
  