@media screen and ( max-width:1250px  )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
      margin-left: 1rem
  .hero
    &__text
      max-width: 480px
  .title
    max-width: 400px
@media screen and ( max-width:1070px  )
  .nav
    display: none
@media screen and ( max-width:992px  )
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width:570px  )
  .contacts
    &__phone
      margin-right: 0
      color: $lite
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 23px  
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 339px
    &__text
      max-width: 300px
      font-size: 17px
    &__button
      display: block
      width: 100%
      /*min-width: 22.86rem*/
      margin-bottom: 1.85rem
@media screen and ( max-height:520px )
  .hero
    &__scroll-down
      display: none
  
  
  