@media screen and ( max-height:520px )
  .hero
    &__scroll-down
      display: none
@media screen and ( max-width:1270px )
  html
    font-size: 12px
  .nav
    &__item
      margin-left: 1rem
      margin-right: 1rem
  .title
    max-width: 500px
  .hero
    &__text
      max-width: 450px
  .upbtn
    right: 30px
    bottom: 30px
    padding: 15px
@media screen and ( max-width:1070px )
  .nav
    display: none 
  .hero
    &__instagram
      display: none
  .section
    &-title
      &__text
        font-size: 16px
        max-width: 380px
  .projects
    background: $dark
  .upbtn
    right: 20px
    bottom: 20px
    padding: 15px
  .row
    display: flex
    flex-wrap: wrap
    flex-direction: row
    align-items: top
  .col
    &-30
      flex: 1 1 calc(50% - 30px)
      max-width: calc(50% - 30px)
      padding: 0 15px
  .steps
    &__col
      &--60
        margin-top: 19rem
        width: 53%
    &__text
      &-description
        max-width: 250px
        font-size: 14px
    &__inscription
      margin-top: 3rem
  .clients
    &__card
      margin-bottom: 7rem
@media screen and ( max-width:992px )
  .section
    &-title
      &__text
        width: 100%
        max-width: 442px
        font-size: 18px
      &__word
        display: block
        font-size: 22px
        line-height: 138.6%
      &__heading
        &--primary
          font-size: 22px
          line-height: 138.6%
  .button
    &:hover
      background-color: none
      cursor: pointer
      outline: none
  .hero
    &__content
      margin: 0
  .row
    display: flex
    flex-wrap: wrap
    flex-direction: row
    align-items: top
  .col
    &-30
      flex: 1 1 calc(50% - 30px)
      max-width: calc(50% - 30px)
      padding: 0 15px
  .design
    &__card
      align-items: top
  .steps
    display: none 
  .team
    &-title
      &__heading
        color: $dark
      &__description
        color: $dark
    &-section
      &__title
        margin-top: 30rem
  .clients
    background: $lite
  .swiper
    &-slide
      &__text
        flex-basis: 50%
        max-width: 300px
        margin-bottom: 34px
    &-slider
      &--image
        margin-top: 0
  .mobile
    &-order
      &__top
        order: -1
  .col
    &-50
      width: 100%
  .contacts
    &__button
      background: #E3B873
  .hero
    &__button
      &::before
        display: none
  .contacts
    &__button
      &:hover
        background: #E3B873
  .button
    &:hover
      background: #E3B873
      box-shadow: none
    &--primary
      box-shadow: none     
  .footer
    &__button
      &:hover
        background: #E3B873
        box-shadow: none
@media screen and ( max-width:760px )
  .row
    flex-direction: column
    align-items: center
  .col
    &-30
      flex: 1 1 calc(100% - 30px)
      max-width: calc(100% - 30px)
      padding: 0 15px
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
  .design
    background-color: $dark
    &__section-title
      color: $lite
  .design
    &__card
      margin-bottom: 5.7rem
  .team
    background: $dark
    &__text
      color: $lite
    &-title
      &__heading
        color: $lite
      &__description
        color: $lite
  .control
    position: relative
    background-color: $dark
    color: $lite
    &__button
      position: adsolute
      bottom: 0
      margin-bottom: -7rem
    &__input
      color: $lite
    &-section
      &-title
        font-size: 22px
        line-height: 138.6%
    &__text
      max-width: 350px
      font-size: 14px
      line-height: 169.8%
    &__form
      display: flex
      flex-wrap: wrap 
      flex-direction: column
      width: 100%
    &__input
      &-bottom
        margin-bottom: 63px
    &__policy
      margin-top: 28px
      margin-bottom: 63px
  .mobile
    &-order
      &__bottom
        order: 1
@media screen and ( max-width:570px )
  .container
    width: 100%
    max-width: 400px
  .menu
    padding: 0.8rem
  .section
    padding-top: 36px
    &-title
      text-align: center
      &__description
        max-width: 330px
        font-size: 15px
      &__text
        font-size: 16px
    &__title
      &__description
        max-width: 21.86rem
  .contacts
    &__phone
      margin-right: 0px
      color: $lite
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 23px
    max-width: 300px
  .phone
    font-size: 12px
  .hero
    padding: 0px 10px 0px 10px
    &::after
      display: none
    &__content
      width: 100%
    &__scroll-down
      display: none
    &__text
      width: 100%
      max-width: 320px
      font-size: 18px
      margin-bottom: 2.28rem
    &__button
      display: block
      width: 100%
      margin-bottom: 1.85rem
  .projects
    padding-left: 0.8rem
    padding-right: 0.8rem
  .control
    position: relative
    padding: 0.8rem
    padding-top: 50px
    padding-bottom: 5rem
    &__text
      max-width: 340px
      font-size: 14px
      font-weight: 400
      line-height: 169.8%
    &__policy-label
      justify-content: flex-start
    &__button
      position: adsolute
      bottom: 0
      margin-bottom: -7rem
    &__video
      width: 100%
      max-width: 340px
      min-height: 207px
      background-size: contain
      margin-bottom: 27px
    &__input
       border-bottom: 1px solid $sulfur
       &::placeholder
        color: $lite
    &__label
      color: rgba($lite, 0.5)
  .types
    padding: 36px 10px 60px 10px
    &__card
      width: 100%
  .design
    padding: 36px 10px 60px 10px
  .video
    &__play
      position: relative
      margin: auto
      &-image
        margin-top: 35%
        margin-right: -3px
        width: 12px
        height: 12px
      &-shadow
        width: 37px
        height: 37px
  .swiper
    &-pagination
      margin-left: 100px
    &-button
      &-prev, &-next
        margin-left: 100px
  .team
    padding-bottom: 25rem
    background-color: $dark
    &__text
      display: none
    &__section-title
      color: $lite
    &-card
      position: relative
      &__text
        margin: -6rem auto
        margin-bottom: 54px
    &__control
      &--text
        display: none
    &__text
      color: $lite
    &__card
      max-width: 500px
      margin-left: 30px
      &--image
       width: 303px
  .steps
    display: none
  .clients
    display: none
  .footer
    margin-top: -1rem
    background: $dark
    &__title
      font-size: 20px
    &__wrap
      width: 100%
      padding: 0px 7px 0px 7px
      background: $dark
    &__form
      display: flex
      flex-wrap: wrap 
      flex-direction: column
      width: 100%
    &__input
       border-bottom: 1px solid $sulfur
    &__map
      display: flex
      flex-wrap: wrap
      flex-direction: row
      &--heading
        font-size: 18px
        line-height: 138.6%
        margin-top: 41px
        margin-bottom: 23px
      &-wrap
        order: -1
    &__menu
      display: none
  .map
    margin-bottom: 0
    &-title
      &__image
        margin-bottom: 0
  .upbtn
    right: 30px
    bottom: 20px
    padding: 15px
  .footer
    padding: 0px 10px 38px 10px
    &__section
      &-title
        margin: auto
    &__map
      &-wrap
        width: 100%
        max-width: 280px
        height: 230px
      &--heading
        max-width: 330px
        font-size: 18px
    &__button
      width: 100%
  .policy
    &__label
      &--center
        justify-content: flex-start
  #player
    width: 100%
    height: 207px
  #map-in
    width: 100%
    max-width: 340px
    height: 255px
  .swiper
    &-slide
      width: 330px
  .col
    &-30
      padding: 0
      max-width: 100%
@media screen and ( max-width:375px )
  .container
    width: 100%
    max-width: 350px
  .menu
    &__logo
      font-size: 12px
  .hero
    &__content
      padding: 0px 8px 0px 8px
    &__title
      font-size: 23px
    &__text
      max-width: 325px
      font-size: 18px
    &__button
      font-size: 13px
  .section
    &-title
      &--left
        text-align: center
      &__heading
        font-size: 22px
        &-primary
          font-size: 22px
          letter-spacing: -0.07em
          line-height: 138.6%
      &__description
        padding: 0
        font-size: 15px
      &__text
        max-width: 300px
        margin: 0 auto
        margin-bottom: 36px
        font-size: 14px
        line-height: 158.48%
  .card
    margin: 0px 0px 59px 0px
    &__image
      width: 340px
    &__title
      font-size: 15px
    &__text
      max-width: 260px
      box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05)
    &__list
      font-size: 13px
    &__pricetag
      padding: 11px 19px
      font-size: 15px
      box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3)
  .policy
    &__label
      &--text
        font-size: 14px
        font-weight: 400
  .types
    padding: 36px 15px 60px 15px
    &__card
      width: 100%
  .design
    padding: 36px 15px 60px 15px
  .control
    position: relative
    padding: 0.8rem
    padding-top: 50px
    &__video
      width: 100%
      max-width: 340px
      min-height: 207px
      background-size: contain
      margin-bottom: 27px
    &__button
      position: adsolute
      bottom: 0
      margin-bottom: -2.5rem
      padding: 20px 110px
  .video
    &__play
      position: relative
      margin: auto
      &-image
        margin-top: 35%
        margin-right: -3px
        width: 12px
        height: 12px
      &-shadow
        width: 37px
        height: 37px
  .team
    padding: 36px 10px 300px 10px
    &__text
      display: none
    &__card
      margin-left: 30px
      &--top
        padding: 9px
        margin-left: -33px
  .swiper
    &-slide
      width: 330px
      &__images
        width: 100%
        max-width: 340px
        min-height: 201px
      &__heading
        font-size: 14px
      &__value
        font-size: 14px
    &-pagination
      margin-left: 70px
    &-button
      &-prev, &-next
        margin-left: 70px
  .footer
    padding: 36px 10px 38px 10px
    &__map
      &-wrap
        width: 100%
        max-width: 280px
        height: 230px
      &--heading
        max-width: 330px
        font-size: 18px
  .modal
    &__button
      left: 0
      right: 0
      margin: auto
@media screen and (max-width:320px )
  .swiper
    &-pagination
      margin-left: 60px
    &-button
      &-prev, &-next
        margin-left: 60px
  