.steps
  margin-top: -40rem
  padding: 35rem 0 35rem 0
  background: $dark url('../img/steps/steps-bg.svg') no-repeat center
  background-size: cover
  &__title
    margin-bottom: 92px
    font-family: 'Yeseva One', cursive
    font-size: 27px
    font-weight: 400
    line-height: 37px
    text-transform: uppercase
  &__inscription
    margin-bottom: 18px
    font-family: 'Futura Book', sans-serif
    font-weight: 500
    font-size: 15px
    line-height: 21px
    text-transform: uppercase
  &-title
    text-align: center
    &__word
      display: flex
      justify-content: space-between
      align-items: center
      &::after
        content: ''
        width: 92px
        height: 1px
        background-color: $primary
  &__navigation
    display: flex
    align-items: center
  &-pagination
    margin: 0px 29px 0px 29px
  &-button
    &-prev, &-next
      bottom: 0
      top: auto
      background-size: 42px
      width: 42px
      height: 14px
      &::after
       display: none 
    &-prev
      left: 0
      background: url('../img/arrow-prew.svg') no-repeat center 
    &-next
      background: url('../img/arrow-next.svg') no-repeat center
  &__text
    &--title
      max-width: 262px
      margin-bottom: 16px
      font-family: 'Yeseva One', cursive
      font-size: 15px
      font-weight: 400
      line-height: 23px
      text-transform: uppercase
    &--description
      max-width: 337px
      font-family: 'Futura Book', sans-serif
      font-size: 15px
      font-weight: 400
      line-height: 25px
    &--bottom
      margin-bottom: 66px
.steps-pagination>.swiper-pagination-bullet
  margin: 0px 4px
.swiper
  &-fraction
    margin-bottom: 22px
    font-family: 'Yeseva One', cursive
    font-size: 18px
    font-weight: 400
    line-height: 25px
    text-transform: uppercase
